<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SixTeenTableViewCellCreateDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>311420FB1DC5F8A3006BAF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311421141DC5F8A3006BAF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3114211F1DC5F8A3006BAF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
